<div style="margin-top: 4.3rem;">
  <div *ngIf="step=='0'" class="main-container">
    <div *ngIf="role!='Unknown'">
      <div class="offset-md-3 col-md-6 bg-white round heightpanelsm">
        <div class="row m-0 mb-4">
          <div class="text-center">
            <h1 class="card-title text-bold-500">
              Empowering Patients in Rare Disease Treatment: Validating AI-Generated Responses for EMA-Approved Medications
              <hr class="hr-custom">
            </h1>
    
            <p class="lead mt-3">
              Welcome to our groundbreaking initiative that puts patients at the heart of validating a new AI model designed to provide accurate and reliable information about centrally approved medications for rare diseases by the European Medicines Agency (EMA).
            </p>
    
            <h3 class="mt-4">How It Works</h3>
            <ol class="text-left mt-2">
              <li>Select your rare disease from the provided list.</li>
              <li>Our AI model will suggest relevant questions and answers about EMA-approved medications for your condition.</li>
              <li>Review the generated responses and rate their quality and accuracy.</li>
              <li>Contribute by asking pertinent questions related to your disease and its treatments.</li>
              <li>Validate the AI-generated answers to your questions, ensuring the information is precise and helpful.</li>
            </ol>
    
            <h3 class="mt-4">Why Your Participation Matters</h3>
            <p class="text-left mt-2">
              By engaging in this validation process, you play a crucial role in leveraging human expertise to refine our AI model. Your input will help ensure that the information provided is accurate, up-to-date, and beneficial for patients seeking knowledge about their rare disease treatments.
            </p>
    
            <h3 class="mt-4">Centralized Approval for Rare Diseases</h3>
            <p class="text-left mt-2">
              We focus on rare diseases because medications for these conditions undergo a centralized approval process by the EMA. This centralization ensures consistent and high-quality information across Europe, making it an ideal starting point for our AI model validation.
            </p>
    
            <h3 class="mt-4">Your Contribution Makes a Difference</h3>
            <p class="text-left mt-2">
              As a patient living with a rare disease, your unique perspective and experiences are invaluable in shaping the future of treatment information accessibility. By dedicating your time and effort to this project, you are not only empowering yourself but also helping countless others who will benefit from the validated AI-generated responses.
            </p>
    
            <p class="text-left mt-2">
              Join us in this pioneering effort to create a reliable and patient-centric resource for rare disease treatment information. Together, we can make a significant difference in the lives of those affected by rare diseases.
            </p>
    
            <div class="row mt-4">
              <div class="col-md-12 center-elements">
                <button class="btn btn-primary btn-lg mt-3" (click)="start()">Start</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step=='1'">
    <div *ngIf="!haveInfo">
      <div class="pt-5 offset-lg-3 col-lg-6">
        <a type="button" class="primary" style="text-decoration: underline;" (click)="goback();">< {{'generics.Back' | translate }}</a>
          <div class="mt-3 card border round">
              <div class="card-body">
                  <div class=" no-padding">
                      <div class="position-relative" *ngIf="!gettingItems">
                        <h4 class="mb-3">Search and select the condition you want to contribute for</h4>
                        <i class="fa fa-search primary fa-1_7x align-middle iconsearch" (click)="onKey($event)"></i>
                        <input type="text" #inputDisease id="searchDiseaseField"
                          class="ml-1 form-control data-hj-allow fielddisease" name="searchDiseaseField"
                          [(ngModel)]="searchDiseaseField" (keyup)="onKey($event)" (paste)="onKey($event)"
                          placeholder="{{'dashboardpatient.Search condition' | translate }}"
                          (focusout)="focusOutFunctionDiseases()">
                        <span *ngIf="searchDiseaseField.length>0" class="pointer" (click)="clearsearchDiseaseField();"
                          style="position: relative;left: -44px;"><i class="fa fa-times ml-1"
                            style="color: #70757a;"></i></span>
                      </div>
                      <div>
                        <div class="center-elements mt-2" *ngIf="callListOfDiseases || gettingItems">
                          <em class="mt-2 fa fa-spinner fa-spin fa-3x fa-fw secondary"></em>
                          <p>{{'generics.Please wait' | translate }}</p>
                        </div>
                        <div class="form-group mt-2" *ngIf="!callListOfDiseases && !gettingItems">
                          <span *ngIf="listOfFilteredDiseases.length>0">
                            <div class="table-cont">
                              <table class="table mb-0 border" aria-labelledby="rare disease"
                                style="background-color: #ffffff !important;">
                                <tbody class="tableList">
                                  <tr *ngFor="let disease of listOfFilteredDiseases ; let i = index" class="d-flex">
                                    <td class="col-md-12 dropdown-item" id="{{disease.id}}"
                                      (click)="showMoreInfoDiagnosePopup(i);" style="cursor: pointer;"
                                      title="{{'generics.More information' | translate }} ({{disease.id}})">
                                      <span>{{disease.name}}</span>
                                      <!--<span *ngIf="disease.source!='synonyms'">{{disease.name}}</span>
                                          <span *ngIf="disease.source=='synonyms'"> {{disease.itemCompared}} ({{'generics.Synonyms' | translate}}: {{disease.name}})</span>-->
                                      <span *ngIf="disease.synonyms">
                                        <span *ngIf="disease.synonyms.length>0">
                                          <span *ngFor="let synonym of disease.synonyms | myfilter:searchDiseaseField">
                                            <span class="d-block font-small-3" style="font-weight: 200;"> - {{synonym}}</span>
                                          </span>
                                        </span>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </span>
                          <span *ngIf="nothingFoundDisease">
                            <span *ngIf="(searchDiseaseField).trim().length>3">
                              <span class="d-block">{{'dashboardpatient.Nothing found. Try again.' | translate }}</span>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
    </div>
    <div *ngIf="haveInfo" class="pt-5 row pb-3">
        <div class="mt-3 col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
          <div class="card border round" *ngIf="loadingData">
              <div class="card-body">
                  <div class="no-padding">
                      <div class="text-center">
                          <h4 class="mb-3">Loading data, please wait...</h4>
                          <em class="fa fa-spinner fa-spin fa-3x fa-fw secondary"></em>
                      </div>
                  </div>
              </div>

          </div>
            <div class="card border round" *ngIf="!loadingData">
                <div class="card-header">
                    <button class="ml-2 btn btn-danger btn-sm float-right" (click)="deleteDisease()">Restart</button>
                    <h4 class="card-title">Treatment Options for {{actualInfoOneDisease.name}}</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>Below is a list of orphan drugs available for {{actualInfoOneDisease.name}} along with some frequently asked questions and their answers. You can also add your own questions and answers to personalize your experience.</p>
                        <div class="row">
                            <div class="col-sm-12 mb-2 mb-sm-0 container">
                              <h4 class="mt-2">Orphan Drugs</h4>
                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let drug of infodata.orphanDrugs">
                                  {{ drug.name }}
                                </li>
                              </ul>

                              <h4 class="mt-4">Frequently asked questions</h4>
                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let qa of infodata.questionsAnswers; let i = index">
                                  <label class="mt-1">Q: </label>
                                  <input type="text" [(ngModel)]="qa.question" class="form-control mb-2">
                                  
                                  <label>A: </label>
                                  <textarea [(ngModel)]="qa.answer" class="form-control mb-2" rows="3" (input)="adjustTextareaHeight($event)"></textarea>
                                  <div class="mt-3">
                                    <label>Rate this question:</label>
                                    <ngb-rating [(rate)]="qa.rating" max="5" class="my-rating col-4"></ngb-rating>
                                  </div>
                                  <div class="mt-2 mb-2">
                                    <label>Your feedback:</label>
                                    <textarea class="form-control" rows="2" [(ngModel)]="qa.feedback" (input)="adjustTextareaHeight($event)"></textarea>
                                  </div>
                                  <button *ngIf="qa.isManual" class="btn btn-primary btn-sm" (click)="deleteQuestionAnswer(i)">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </li>
                              </ul>

                              <h4 class="mt-4">Add your own question and answer</h4>
                              <div class="mb-3">
                                <label for="question" class="form-label">Your question</label>
                                <input type="text" class="form-control" id="question" [(ngModel)]="newQuestion">
                              </div>
                              <div class="mb-3" *ngIf="!generatingAnswer && newAnswer==''">
                                <button class="btn btn-primary" (click)="geneateAnswer()">Create the answer</button>
                              </div>
                              <div class="mb-3" *ngIf="generatingAnswer">
                                <em class="fa fa-spinner fa-spin fa-1x fa-fw secondary"></em>
                                Generanting answer, please wait...
                              </div>
                              <div class="mb-3" *ngIf="newAnswer!=''">
                                <label for="answer" class="form-label">Your answer</label>
                                <textarea class="form-control" id="answer" [(ngModel)]="newAnswer" rows="3" (input)="adjustTextareaHeight($event)"></textarea>
                              </div>
                              <button  *ngIf="newAnswer!=''" class="btn btn-primary" (click)="addQuestionAnswer()">Add question and answer</button>
                            </div>
                            <div class="col-md-12 center-elements" *ngIf="!generatingAnswer">
                              <button class="btn btn-success mt-4" (click)="saveAllData()">Save all data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

