<div class="">
  <a id="initpos"></a>
  <section class="card row mt-0 mb-0">
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
      <button *ngIf="activeModal" type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <h6 class="pt-2 dark text-bold-600">Introduction</h6>
        <p>
          Welcome to OrphaCare! We prioritize your privacy and are fully transparent on how we manage the information you kindly provide.
        </p>
        <p>This policy details our practices regarding data collection, usage, and protection as you engage with the OrphaCare platform.</p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Information we collect</h6>
        <ul>
          <li>
            <strong>Patient contact group information:</strong> We don’t collect any personal information. We only collect  the patient organization name and country   when you validate a condition in our services. The purpose of storing your email address is only for keeping in contact with you in case is needed to update the validated list. The email address you provide to us is not published on the website. 
          </li>
          <li>
            <strong>Patient health group information:</strong> We collect health information specific to your patient group in a <strong>consolidated</strong> manner (at group level), not at an individual patient level. We don’t collect identifiable information at all, neither from you nor from any of the patients that belong to your organization. 
          </li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">How we use your information</h6>
        <ul>
          <li>To manage and maintain your user account.</li>
          <li>To communicate with you about platform updates and to offer support.</li>
          <li>To facilitate your participation in the platform.</li>
          <li>To comply with legal obligations and ensure regulatory compliance.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Sharing of your information</h6>
        <ul>
          <li>Once the list of patient experience data has been validated it will be converted into a simple structured format that can be easily checked by third parties and open source for the general public.</li>
          <li>The structured list and any accompanying documentation will be made openly accessible on OrphaCare's website for anyone to view. Additionally, the data will be published in a structured format in a public repository to facilitate its dissemination and reuse. Our goal is to maximize the visibility and accessibility of this valuable patient experience information, enabling researchers, healthcare organizations, patient advocates, and other interested parties to easily discover and leverage insights for the benefit of patients worldwide. By employing a multi-channel dissemination approach encompassing our website, scientific literature, and open data repositories, we aim to ensure the widest possible reach and impact of this important resource.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Your rights under GDPR</h6>
        <ul>
          <li><strong>Right to access:</strong> You have the right to request copies of the data provided to us.</li>
          <li><strong>Right to rectification:</strong> You may ask us to correct any inaccurate or incomplete data.</li>
          <li><strong>Right to deletion:</strong> You can request the deletion of the data provided to us.</li>
          <li><strong>Right to withdraw consent:</strong> At any time, you may withdraw your consent for us to use your data.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Consent</h6>
        <ul>
          <li>By creating an account and submitting information on our platform, you consent to the collection and use of your data as described in this privacy policy.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Changes to our privacy policy</h6>
        <ul>
          <li>We reserve the right to modify this policy at any time. Changes will be communicated by updating the "Last updated" date of this policy. We encourage you to periodically review this policy to stay informed.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Data Controller</h6>
        <p>
          The information provided will be processed by Fundación 29 de Febrero (F29), which is the responsible for data control. Here is the contact information for F29:
        </p>
        <ul>
          <li><strong>Address:</strong> Calle Santa Fe 1, 2 E, 28224 – Pozuelo de Alarcón (Madrid)</li>
          <li><strong>Identification Number:</strong> G-87894119</li>
          <li><strong>Email:</strong> support@foundation29.org</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Data Protection Officer</h6>
        <p>
          You can also contact our Data Protection Officer to make any queries or to exercise the rights that legitimately protect you through the following address: privacy@foundation29.org
        </p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Exercise of your rights</h6>
        <p>
          At any time you may exercise your rights under the legally established terms by sending a written communication to the address: Calle Santa Fe, number 1, 2ºE – Pozuelo de Alarcón, 28224 (Madrid), or by email: privacy@foundation29.org 
        </p>
        <p>
          In this communication you must indicate the right you want to exercise and the data or set of personal data that is the subject of your claim. 
        </p>
        <p>
          Finally, we inform you that you will have the right to file a claim with the Spanish Data Protection Agency, as the control authority. www.aepd.es
        </p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Contact Us</h6>
        <p>
          If you have questions or suggestions about our Privacy Policy, or you want to get in contact with Foundation 29 for any other reason, please contact us at support@foundation29.org.
        </p>
      </div>
    </div>
    <div class="col-md-12 center-elements mb-4">
      <button type="button" class="btn btn-secondary btn-raised" (click)="close()">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>